select({
    {%- set selectable_and_unmapped = selectable | remap_deps_configurations(mapping=context.conditions) %}
    {%- set selectable = selectable_and_unmapped.0 %}
    {%- set unmapped = selectable_and_unmapped.1 %}
    {%- for triple, deps in selectable.selects %}
        "{{ platform_label(triple = triple) }}": {
            {%- for dep in deps %}
            {%- set_global orig_confg_list = [] %}
            {%- for orig_config in dep.original_configurations %}
            {%- set_global orig_confg_list = orig_confg_list | concat(with=orig_config | default(value="common dependency")) %}
            {%- endfor -%}
            {%- set dep_crate = context.crates | get(key=dep.value.id) %}
            "{{ crate_label(name = dep_crate.name, version = dep_crate.version, target = dep.value.target) }}": "{{ dep.value.alias }}",  # {{ orig_confg_list | join(sep=", ") }}
            {%- endfor %}
        },
    {%- endfor %}
        "//conditions:default": {
            {%- for dep in selectable.common %}
            {%- set dep_crate = context.crates | get(key=dep.value.id) %}
            "{{ crate_label(name = dep_crate.name, version = dep_crate.version, target = dep.value.target) }}": "{{ dep.value.alias }}",
            {%- endfor %}
        },
    })